*{
  font-family: Helvetica, Arial;
}



body{
  padding: 60px;
  background-color: #ffffff;
  
}

input {

  margin: 10px;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  color: black;
  font-size: 1rem;
  width: 95%;
  border: none;
}

h1{
  background: white;
  border-radius: 25px;
  padding: 5px;
}

.top{
  width: 100%;
  background: rgb(160, 160, 160);
  size: 300%;
  height: 500%;
  padding: 10px;
  border-radius: 25px;

}

.card p{
  
  border-radius: 5px;
  color: rgb(0, 0, 0);
  padding: 5%;
  background-color: rgb(255, 255, 255);
  width: 100%;
  margin-top: 10px;
  size: 100%;
  
}

.card{
  background-color:rgb(160, 160, 160);
  size: 30%;
  align-content: center;
  align-items: center;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 5%;
  align-self: center;
}

.card img{
  max-height: 150px ;
  border-radius: 25px;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}